.footer {
  border-top: 1px solid #e2e8f0;
  padding: $p-8 0;
  background-color: #fff;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h1 {
    font-size: $text-lg;
    font-family: Poppins-Medium;
    font-weight: 500;
  }
  a {
    font-size: $text-base;
    font-family: Poppins-Regular;

  }
  @media (min-width: $md){
    flex-direction: row;
  }
  .copyrights, .newsletter, .helpful-links, .social-media-links {
    width: 80%;
    margin: $m-4 $m-6;
    @media (min-width: $md){
      width: 25%;
    }
  }
}

.footer-content .copyrights {
  width: 80%;
  display: flex;
  @media (min-width: $md){
    width: 40%;
  }
  .logo {
    margin-right: $m-4;
  }
  .copyrights__bottom {
    margin-top: $m-2;
    margin-bottom: $m-1;
    font-size: $text-sm;
  }
}

.footer-content .helpful-links {
  h1 {
    margin-bottom: $m-3;
    white-space: nowrap;
  }
  ul {
    display: column;
    flex-wrap: wrap;
    li {
      margin: 0 $m-2;
    }
  }
  @media (min-width: $md){
    // margin-left: $m-16;
  }
}

.footer-content .newsletter {
  .input-group {
    position: relative;
    width: $w-56;
  }
  input {
    box-sizing: border-box;
    width: $w-56;
    padding: $p-2 0;
    padding-left: $p-4;
    padding-right: $p-8;
    color: $dark-lighter;
    border-radius: 5px;
    border: 1px solid $dark-light;
    outline: none;
    &:focus {
      border-color: $dark;
      color: $dark;
    }
  }
  .feedback {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 10px;
    outline: none; 
  }
}

.footer-content .social-media-links ul {
  display: flex;
  margin-top: $m-2;

  align-items: center;
  li {
    margin-right: $m-3;
  }
}

