.testimonials {
  padding: $p-4 0;
  background-color: $gray-light;
} 
.testimonials__items {
  display: flex;
  flex-direction: column;
  @media (min-width: $md){
    flex-direction: row;
  }
  justify-content: center;
}
.testimonials__item {
  width: 80%;
  @media (min-width: $md){
    width: 33.33%;
  }
  margin: $m-6 $m-6;
}
.testimonials__item .quote {
  font-family: Poppins-Light;
  font-size: $text-lg;
  font-weight: 500;
}
.testimonials__item .name {
  font-family: Poppins-Medium;
  font-size: $text-base;
  font-weight: 500;
  margin-top: $m-3;
}